<% if (!user) { %>
  <h2>Welcome! Please log in.</h2>
<% } else { %>
  <h2>Hello, <%= user.email %>.</h2>
<% } %>



<form action="/api/v1/post/<%= postid %>/comments" method="post">
  
  <div>
  <label>body:</label>
  <input type="text" name="body"/>
  </div>
  <div>

  <div>
  <input type="submit" value="Submit"/>
  </div>
</form>